<!DOCTYPE html>
<html>
<head>
	<title>Banking System</title>

	<link rel="stylesheet" type="text/css" href="\css\homepage.css">
</head>
<body>
	<div>
	<h1 class="first">WELCOME</h1>
	<h2><b>&nbspto</b></h2>
	<h1 class="second">TCF BANK</h1>
    </div><br><br>
    <a href="/customers" class="cus">View all Customers</a>
    <a href="/transaction" class="tran">Transaction History</a> 
</body>
</html>